# Node modules
**/node_modules

# Build directories
/client/dist
/server/build

# Environment variables
**/.env
**/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
client/node_modules
server/node_modules

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Operating system files
Thumbs.db
Desktop.ini

# Optional npm cache directory
.npm

# Miscellaneous
*.swp
*.swo

# TypeScript
**/*.tsbuildinfo

# Prisma
/server/prisma/.env
prisma/migrations/
